/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background: url('../daily_weather/docs/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* Container Styles */
.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 90vh;
}

/* Heading Styles */
h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #00c3ff;
}

/* Form Styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00c3ff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  flex: 1 1 auto;
}

button:hover {
  background-color: #0099cc;
}

/* Weather Data Styles */
#weather-data {
  margin-top: 20px;
}

.weather-item {
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: left;
}

.weather-item img {
  vertical-align: middle;
  margin-left: 10px;
}

#weather-data h2, #weather-data h3 {
  color: #00c3ff;
}

#weather-data div {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  input[type="text"] {
      border-radius: 5px;
      margin-right: 0;
  }

  button {
      border-radius: 5px;
      margin-top: 10px;
  }

  form {
      flex-direction: column;
  }
}
